html, body {
	margin: 0px;
	background: #FFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.95em;
	color:#4d4948;
}

h1 {
	margin: 0;
	text-align: center;
	font-size: 150%;
	padding: 0px;
}

h2 {
	margin: 0;
	text-align: center;
	font-size: 120%;
	padding: 0px;
}

h3 {
	margin: 0;
	font-size: 105%;
	padding: 0px;
}

a {
	color:#858585;
}

#top-nav {
	background-color: #000;
	color: #FFF;
	font-size: 1.2em;
}

#top-nav ul {
	margin:0;
}

#top-nav ul li {
	padding:0;
	margin:0;
	list-style:none;
	display: inline-block;
	padding-left: 22px;
}

#top-nav ul li a {
	text-decoration:none;
}

#top-nav ul li a:hover {
	color:#26b3f7;
	text-decoration:underline;
}

#top {
	background-color: #9E9E9E;
	width:100%;
	height:50px;
    margin: 0;
    padding: 0;
}

#top_content {
    margin: 0 auto;
    width: 1000px;
}

#logo {
	padding-top: 1px;
}

#logo div {
    display: inline-block;
    padding-left: 20px;
}

a.header-link {
    text-decoration: none;
}

a.header-link:hover {
    color: #FFF;
}

a.header-link:active {
    color: #FFF;
}

#content {
    margin: 0 auto;
    width: 1000px;
}

#footer {
    margin: 0 auto;
    width: 970px;
}

#content #main {
}

#content #main #regbox {
	padding: 0 0 0 0;
}

#content #main #regbox label {
	width:100px;
	float:left;
}

table.admin td {
	vertical-align: top;	
}

#error {
	display:block;
	margin:5px;
	color:#4d4948;
	background-color:#fffebe;
	border: 1px solid #cbcbcb;
	font-size:90%;
}

#success {
	margin:5px;
	color:#4d4948;
	background-color:#bce9b5;
	border: 1px solid #7ace6c;
	font-size:90%;
}

#editor-top-panel {
    width: 100%;
    height: 100px;
}

#editor-panel {
    display: inline-block;
    width: 15%;
    height: 750px;
    vertical-align: top;
}

#editor {
    width: 80%;
    height: 750px;
}

#new-realm {
    font-size: 2em;
    font-weight: bold;
}





/* BUILD */

#newRealmRoot {
    margin-top: 24px;
    padding: 6px;
    border: solid 8px #E0E0E0;
}

#newRealmRoot div {
    display: inline-block;
}

#newRealmEngineDisplay {
    width: 400px;
    height: 150px;
    background-image: url('/img/isometric.png');
    vertical-align: middle;
    color: #FFF;
    font-weight: bold;
    font-size: 2em;
}

#existingRealmsLists {
    list-style: none;
    padding: 0;
}
        
#existingRealmsLists div {
    display: inline-block;
}

.existingRealmsListItem {
    margin-top: 24px;
    padding: 6px;
    border: solid 2px #E0E0E0;
    border-top-width: 8px;
}

.existingRealmsStatsLabel {
    display: inline-block;
    width: 100px;
}
        
.light {
    color: #E0E0E0;
}

.online {
    color: #B9FAC2;
}

.sectionbase {
    border: solid 2px #E0E0E0;
    margin: 0px 10px;
}

.sectionbar {
    background-color: #E0E0E0;
    color: #858585;
    width: 100%;
    height: 20px;
}