<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Assembled Realms DEBUG</title>

    <link rel="shortcut icon" href="//www.assembledrealms.com/img/favicon.png">

    <link rel="stylesheet" href="//www.assembledrealms.com/css/root.css">
    <link rel="stylesheet" href="//www.assembledrealms.com/build/css/style.css">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//www.assembledrealms.com/css/bootstrap-theme.css">
    
    <style>
        html, body {
            height:100%;
			background-color: #777;
			padding-top: 60px;
			color: #fff;
        }
    </style>
    
</head>

<body style="padding-top: 0px; padding-bottom: 0px; padding-left: 0px;">

<div id="wrapper">
    
	<div>
        <a href="http://www.assembledrealms.com">
			<img src="//www.assembledrealms.com/build/img/logo.png" class="center-block">
		</a>
    </div>

	<h4 class="text-center" style="margin-top: 60px;"><%= message %></h4>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
</div>
</body>
</html>