	<div>
        <a href="http://www.assembledrealms.com">
			<img src="//www.assembledrealms.com/build/img/logo.png" class="center-block">
		</a>
    </div>

	<h4 class="text-center" style="margin-top: 60px;"><%= message %></h4>