doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Assembled Realms
    link(rel="shortcut icon", href="//www.assembledrealms.com/img/favicon.png")
    link(rel="stylesheet", href="//www.assembledrealms.com/css/root.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="//www.assembledrealms.com/css/bootstrap-theme.css")
    script(async="", type="text/javascript", src="http://www.gstatic.com/pub-config/ca-pub-4898800745718155.js")
    script(async="", type="text/javascript", src="http://www.assembledrealms.com/js/lodash.min.js")
    script(type='text/javascript').
      var __port = #{port};
      var __id = #{id};
  body
    #wrapper
      .navbar-default.navbar-fixed-top(role="navigation")
        .container
          .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="http://www.assembledrealms.com/")
              img(src="http://www.assembledrealms.com/img/logo.png")
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a.header-link(href="../../build")
                  i.fa.fa-cogs.fa-2x(style="display: block;")
                  | Build
              li
                a.header-link(href="../../play")
                  i.fa.fa-rocket.fa-2x(style="display: block;")
                  | Play
            ul.nav.navbar-nav.navbar-right
              li
                a.header-link(href="../../blog")
                  i.fa.fa-pencil-square-o.fa-2x(style="display: block;")
                  | Blog
              li
                a.header-link(href="/account/logout.php")
                  i.fa.fa-sign-out.fa-2x(style="display: block;")
                  | Logout
              li
                a.header-link(href="/account")
                  i.fa.fa-user.fa-2x(style="display: block; text-align: center;")
                  | Profile
              li.dropdown
                a#helpDropdown.dropdown-toggle.header-link(data-toggle="dropdown", href="#")
                  i.fa.fa-life-ring.fa-2x(style="display: block;")
                  | Help
                ul.dropdown-menu(role="menu", aria-labelledby="helpDropdown")
                  li(role="presentation")
                    a(role="menuitem", tabindex="-1", href="/blog/index.php/posts/an-adventure-in-the-making") About
                  li(role="presentation")
                    a(role="menuitem", tabindex="-1", href="/user/?1") Contact
                  li.divider(role="presentation")
                  li(role="presentation")
                    a(role="menuitem", tabindex="-1", href="#") Tour
                  li(role="presentation")
                    a(role="menuitem", tabindex="-1", href="#") Builder 101
          // /.nav-collapse
      #content
        #realmBar.center-block.clearfix(style="margin-bottom: 40px;")
          h2.text-center(style="margin-top: 0;") Just Another REALM
        
        #realm(style="display: block; width: 100%; border: 0; padding: 0;")  

        script(data-main="#{id}/client/loader", src="js/require.js")
        
        #footer
          script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
          script(src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")