<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <link href="models/site-templates/default.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="css/jquery.treeview.css" />
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>    
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>

    <script src="js/editor/map.editor.js"></script>
    <script src="js/jquery.treeview.min.js"></script>
    <script src="js/pixi.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/ace/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>


    <style>
        #mapEdit {
            width: 90%;
            height: 100%;
            margin: auto;
            padding: 10px;
        }

        div#tree {
            width: 15%;
            height: 100%;
            float: left;
        }

        div#tabs {
            width: 80%;
            float: left;
        }

        div#editor {
            height: 600px;
        }

        div#map {
            height: 600px;
        }
    </style>

    <script>
        $(document).ready(function () {

            // UI
            $("#tabs").tabs();

            $("#explorer").treeview({
                animated: "fast"
            });

            // VIEWS
            var templateFn = _.template($('#files_template').html());

            // For now we fake data, in future this is in the result of an AJAX request:
            var responseJSON = {
                'name': 'source',
                'children': [
                    {
                        'name': 'server',
                        'children': ['app.js', 'util.js']
                    },
                    {
                        'name': 'client',
                        'children': [
                            {
                                'name': 'engine',
                                'children': ['landscape.js', 'actors.js', 'engine.js']
                            },
                            'main.js', 'map.json']
                    }
                ]
            };

            $("#explorer").html(templateFn({ 'model': responseJSON, 'templateFn': templateFn }));

            //var editor = ace.edit("editor");
            //editor.getSession().setMode("ace/mode/javascript");
            
            $.ajax({
                type: "GET",
                url: "map.json",
                dataType: "text",
                contentType: "text/plain; charset=utf-8",
                success: function (data, textStatus) {
                    $("#editor").text(data);
                    var editor = ace.edit("editor");
                    Map.init("map");//, JSON.parse(data));
                    Map.create(50, 50);
                    requestAnimationFrame(animate);
                },
                error: function (data) {
                    alert("error");
                }
            });

        });

        function animate() {

            requestAnimationFrame(animate);

            Map.render();

        }

        

        
    </script>

</head>
<body>

    <div id="top">
        <div id="top_content">
            <div id="logo">
                <a href="http://www.assembledrealms.com/"><img src="models/site-templates/images/logo.png"></a>
                    <div><a href="builder.php" class="header-link"><i class="fa fa-cogs fa-2x" style="display: block;"></i>Build</a></div>
                    <div><a href="#" class="header-link"><i class="fa fa-rocket fa-2x" style="display: block;"></i>Play</a></div>
            </div>
        </div>
    </div>

    <section id="mapEdit">
        <div id="tree" class="sectionbase">
            <div class="sectionbar">
                <span>Realm Title</span>
            </div>
            <ul id="explorer" class="filetree">
            </ul>
        </div>

        <div id="tabs">
            <ul>
                <li><a href="#editor">Raw Text</a></li>
                <li><a href="#map">Map Editor</a></li>
            </ul>
            <div id="editor"></div>
            <div id="map"></div>
        </div>
    </section>
    
    <script id="files_template" type="text/template">
        <% if (model.children) { %>
            <li>
                <span class='folder'><%= model.name %></span>
                <ul>
                    <% _.each(model.children, function(child) { %>
                        <%= templateFn({'model': child, 'templateFn': templateFn}) %>
                    <% }); %>
                </ul>
            </li>
        <% } else { %>
            <li><span class="file"><%- model %></span></li>
        <% } %>
    </script>

</body>
</html>
