<div id="container">
    <div style="margin: 20px auto; width: 896px; height: 504px; padding: 0; background-color: black;">
      <h4 class="text-center" style="padding-top: 60px; color: white;"><%= message %></h4>
    </div>
</div>