<!DOCTYPE html>

<!--
    PLEASE NOTE: This file is ignored by the build server, it is included with the source to illustrate
    how the game is loaded when running in the 'live' environment, i.e. on assembledrealms.com/play
-->

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Assembled Realms - PLAY</title>
        
        <style>
            html, body {
                height:     100%;
                width:      100%:
                padding:    0;
                margin:     0;
            }
        </style>
        
    </head>

    <body>

        <div id="realm">
        </div>

        <!-- Your realm hosts up it's own copy of socket.io -->
        <script type="text/javascript" src="//<%= host %>:<%= port %>/socket.io/socket.io.js"></script>
        
        <!-- All of the realms' scripts are served up dynamically... -->
        <% for(var i=0; i<scripts.length; i++) { %>
            <script type="text/javascript" src="<%= scripts[i] %>"></script>
        <% } %>
        
        <!-- ...except for a few of the building blocks -->
        <script type="text/javascript" src="//www.assembledrealms.com/build/js/utilities.js"></script>
        <script type="text/javascript" src="//www.assembledrealms.com/js/keyboard.js"></script>
        <script type="text/javascript" src="//www.assembledrealms.com/js/pixi.min.js"></script>
        <script type="text/javascript" src="//www.assembledrealms.com/js/bigscreen.min.js"></script>
        <script type="text/javascript" src="//www.assembledrealms.com/js/async.js"></script>
    
        <script type="text/javascript">
            
            var engine 	= new Engine();
            
            $(document).ready(function () {  
        
                engine.loaded = function () {
                
                    animate();
                    
                };
                
                function animate() {
                    
                    engine.render();
                    requestAnimationFrame(animate);

                }
                
                engine.initialize( document.getElementById("realm") );
                
            });
        </script>
    
    </body>
</html>