body {
    padding-top: 80px;
}

#content {
    margin: 0 auto;
    width: 1000px;
    margin-top: 40px;
}

#footer {
    margin-top: 40px;
    margin-bottom: 40px;
}

#mapEdit {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 10px;
        }
        
#newfileLocation {
    height: 200px;
}

div#tree {
    margin-top: 6px;
    margin-bottom: 6px;
}

div#leftBar {
    float: left;
    margin-right: 10px;
    width: 220px;
}

div#tabs {
    width: 80%;
    float: left;
}

div#editor {
    height: 600px;
    width: 100%;
}

div#map {
    height: 600px;
}

div#comment {
    margin-top: 40px;
}

div#funding {
    float: right;
    width: 300px;
    max-height: 400px;
    margin-left: 12px;
    margin-bottom: 12px;
}

#form-signin {
    width: 300px;
    margin: 0 auto;
}

#savebar {
    margin-top: 18px;
}

#form-register {
    width: 400px;
    margin: 0 auto;
}

.absoluteCenter {
    position:absolute;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.playListRealm {
    margin-bottom: 40px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 1px solid #eee;
}

.playListRealm:nth-child(odd) {
    
}

.header-link {
    text-align: center;
}

#realm-engine-carousel {
    width: 600px;
}

.new-realm-area {
    display: inline-block;
    vertical-align: top;
}

#new-realm-form {
    width: 330px;
    margin-left: 20px;
}

.realm-panel-title {
    display: inline-block;
    margin: 0;
}

.realm-panel-title-right {
    display: inline-block;
    float: right;
}

.navbar-light {
    background-color: #E0E0E0;
    border-color: #E0E0E0;
    border-radius: 0 !important;
}

#tileButton {
    width: 32px;
    height: 34px;
    background-size: auto 32px;
    background-repeat: no-repeat;
}

#objectButton {
    width: 32px;
    height: 34px;
    background-size: auto 32px;
    background-repeat: no-repeat;
}

.tileBox {
    width: 64px;
    height: 64px;
}

#newRealmRoot {
    margin-top: 24px;
    padding: 6px;
    border: solid 8px #E0E0E0;
}

#newRealmRoot div {
    display: inline-block;
}

#newRealmEngineDisplay {
    width: 400px;
    height: 150px;
    background-image: url('/img/isometric.png');
    vertical-align: middle;
    color: #FFF;
    font-weight: bold;
    font-size: 2em;
}

#existingRealmsLists {
    list-style: none;
    padding: 0;
}
        
#existingRealmsLists div {
    display: inline-block;
}

.existingRealmsListItem {
    margin-top: 24px;
    padding: 6px;
    border: solid 2px #E0E0E0;
    border-top-width: 8px;
}

.existingRealmsStatsLabel {
    display: inline-block;
    width: 100px;
}
        
.light {
    color: #E0E0E0;
}

.online {
    color: #B9FAC2;
}

.sectionbase {
    border: solid 2px #E0E0E0;
    margin: 0px 10px;
}

.sectionbar {
    background-color: #E0E0E0;
    color: #858585;
    width: 100%;
    height: 20px;
}

.ekko-lightbox-container {
  position: relative;
}

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.ekko-lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 49%;
  height: 100%;
  padding-top: 45%;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
     -moz-transition: opacity 0.5s;
       -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
}

.ekko-lightbox-nav-overlay a:empty {
  width: 49%;
}

.ekko-lightbox a:hover {
  text-decoration: none;
  opacity: 1;
}

.ekko-lightbox .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left;
}

.ekko-lightbox .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right;
}

.ekko-lightbox .modal-footer {
  text-align: left;
}